.container {
  padding: 20px 21px;

  .inputs {
    display: flex;
    align-items: center;
  }

  .dash {
    display: block;
    min-width: 12px;
    height: 1px;
    background: #000000;
    margin: 0 10px;
  }
}
